<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
   
        <fieldset>
            <h1>Form 1 </h1>
            <form action="https://jsgod.vercel.app" method="post">
                ten <input type="text" name="t" id=""> <br>
                mat khau <input type="password" name="bt" id=""> <br>
            Ngày sinh
            <input type="date" name="ns" id=""> <br>
            Lớp <select name="lop" id="">
                <option value="a1">TH01</option>
                <option value="a2">TH02</option>
            </select> <br>
            <input type="hidden" name="role" value="admin">
            Thông tin thêm
            <textarea name="khac" id=""></textarea> <br>
            <input type="submit" value="GUI">

        </fieldset>
    </form>
    
</body>