<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table  border="1" align="center" width="80%">
        <tr align="center">
            <td>
                <img width="20%" src="../../../../../Downloads/pexels-brokenadmiral_-493491871-16062018.jpg" alt="">
                <img width="20%" src="../../../../../Downloads/pexels-brokenadmiral_-493491871-16062018.jpg" alt="">
                <img width="20%" src="../../../../../Downloads/pexels-brokenadmiral_-493491871-16062018.jpg" alt="">
                <img width="20%" src="../../../../../Downloads/pexels-brokenadmiral_-493491871-16062018.jpg" alt="">
              
            </td>
        </tr>
        <tr align="center">
            <td>
                <img width="20%" src="../../../../../Downloads/pexels-brokenadmiral_-493491871-16062018.jpg" alt="">
                <img width="20%" src="../../../../../Downloads/pexels-brokenadmiral_-493491871-16062018.jpg" alt="">
                <img width="20%" src="../../../../../Downloads/pexels-brokenadmiral_-493491871-16062018.jpg" alt="">
                <img width="20%" src="../../../../../Downloads/pexels-brokenadmiral_-493491871-16062018.jpg" alt="">
              
            </td>
        </tr>
        <tr align="center">
            <td>
                <img width="20%" src="../../../../../Downloads/pexels-brokenadmiral_-493491871-16062018.jpg" alt="">
                <img width="20%" src="../../../../../Downloads/pexels-brokenadmiral_-493491871-16062018.jpg" alt="">
                <img width="20%" src="../../../../../Downloads/pexels-brokenadmiral_-493491871-16062018.jpg" alt="">
                <img width="20%" src="../../../../../Downloads/pexels-brokenadmiral_-493491871-16062018.jpg" alt="">
              
            </td>
        </tr>
    </table>
</body>
</html>