<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center" font-size="12px">
        <h2>register</h2>
    </div>
    <div align="center">
        <form action="">
            Tên đăng nhập <input type="text" name="" id=""> <br> <br>
            email <input type="email" name="" id=""> <br> <br>
            mật khẩu <input type="password" name="" id=""> <br> <br>
            giới tính <input type="checkbox" name="" id=""> <br> <br>
            sở thích <input type="text" name="" id=""> <br> <br>
            ảnh đại diện <input type="file" name="" id=""> <br> <br>
            ngày sinh <input type="date" name="" id="">
            <select name="" id="">
             <option value=""> TH1</option>
             <option value=""> TH2</option>
             <option value=""> TH3</option>
             <option value=""> TH4</option>
             <option value=""> TH5</option>
             <option value=""> TH6</option>
             <option value=""> TH7</option>
             <option value=""> TH8</option>
             <option value=""> TH9</option>
             <option value=""> TH10</option>

            </select>
            <textarea rows="5" cols="50" placeholder="Nhập nội dung tại đây..."></textarea>
            <button type="reset">Xoá</button>    
            <button type="submit">Nhập</button>    
        </form>
    </div>
</body>
</html>