<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>
<body>
    
<table border="1" width="80%" align="center"> 
    <tr>
        <td>
            <table width="50%" align="center">
            <tr>
                <td><a href="./content/index.html">index</a></td>
                <td><a href="./content/product.html">Product</a></td>
                <td><a href="./content/login.html">Login</a></td>
                <td><a href="./content/signUp.html">signUp</a></td>
                <td><a href="./content/form.html">Form</a></td>
            </tr>
            </table>
        </td>
    </tr>
    <tr>
       <table border="1" width="80%" align="center">
        <tr>
            <td align="center"><h1> Nguyễn Phú Thịnh  </h1></td>
        </tr>
        <tr>
            <td align="center">
                <h2>Sản phẩm bán chạy </h2>
                <img width="30%" height="10%" src="../../../../Downloads/pexels-brokenadmiral_-493491871-16062018.jpg" alt="">
                <img width="33.33%" height="10%" src="../../../../Downloads/pexels-brokenadmiral_-493491871-16062018.jpg" alt="">
                <img width="33.33%" height="10%" src="../../../../Downloads/pexels-brokenadmiral_-493491871-16062018.jpg" alt="">

            </td>
        </tr>
        <tr>
            <td align="center">
                <p>Sản Phẩm mới </p>
                <img width="30%" height="10%" src="../../../../Downloads/pexels-brokenadmiral_-493491871-16062018.jpg" alt="">
                <img width="33.33%" height="10%" src="../../../../Downloads/pexels-brokenadmiral_-493491871-16062018.jpg" alt="">
                <img width="33.33%" height="10%" src="../../../../Downloads/pexels-brokenadmiral_-493491871-16062018.jpg" alt="">
            </td>
        </tr>
       </table>
        
    </tr>
    <tr>
        <td></td>
    </tr>
</table>    
    

</body>

<footer>


</footer>
</html>